AzureDFProviderSecret.tf
AzureDVTProviderSecret.tf
AzureDVTProviderSecret.*
AzureDFProviderSecret.*
Mainvariables.tf
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.log
/Tests/*